body {
	background-color: white;
}
form {
	max-width: 500px;
	margin: auto;
	padding: 40px;
	margin-top: 50px;
	border: 1px solid #f1a41a;
	&.pretraga {
		max-width: 100%;
		button {
			display: block;
			width: 100%;
		}
	}
}
.oglasi {
	background-color: white;
	margin-top: 50px;
	padding: 20px;
}
.car-item-wrapper {
	background-color: #f4f4f4;
	padding: 10px;
	margin-bottom: 30px;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
	img {
		width: 100%;
		height: 175px;
		object-fit: cover;
	}
	p {
		margin-bottom: 10px;
	}
}
.single-car-wrapper {
	margin-top: 50px;
	img {
		width: 100%;
	}
}
.btn {
	&.btn-primary {
		background-color: #f1a41a;
		border-color: #f1a41a;
		color: #464646;
		&:hover {
			background-color: #f1b905;
			border-color: #f1b905;
		}
	}
}
.loader-overlay {
	position: fixed;
	height: 100%;
	width: 100%;
	display: flex;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #f1a41a;
	opacity: 0.9;
	justify-content: center;
	align-items: center;
	display: none;
	z-index: 9999;
}
.lds-ripple {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
	div {
		position: absolute;
		border: 4px solid #fff;
		opacity: 1;
		border-radius: 50%;
		animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
		&:nth-child(2) {
			animation-delay: -0.5s;
		}
	}
}
@keyframes lds-ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    4.9% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    5% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
  }

#navigation{
    a{
        background-color: #f1b905;
        color: black;
        border:1px solid #f1b905;
        border-radius: 15px;
        padding: .5rem 2rem;
        margin: 0rem .3rem;
        transition: .3s;
        &:hover{
            background-color: white;
            color: #f1b905;
        }
    }
  }
.navbar-brand{
    color: black;
    font-size: 2.8rem;
    text-decoration: none;
    color: black;
    font-weight: 700;
}
.nav{
    border-bottom: 2px solid rgb(200, 200, 200);
    margin: 0rem 1rem;
	margin-bottom: 9rem;
}


footer{
    background-color: black;
    color: white;
    padding: 8rem;
    font-family: 'Mulish', sans-serif;
    position: relative;
	margin-top: 10rem;
    .left-footer{
        display: table;
        margin: 0 auto;
        #naslovfooter{
            font-size: 2.8rem;
            text-decoration: none;
            color: white;
            font-weight: 700;
        }
        a{
            text-decoration: none;
            font-size: 1.7rem;
            margin: 0px 5px;
            transition: .3s;
            color: #f1b905;
            &:hover{
                color: #7e7b73;
            }
        }
    }
    .middle-footer{
        display: table;
        margin: 0 auto;
        text-transform: uppercase;
        P{
            color: #f1b905;
            font-weight: 700;
        }
        ul{
            padding-left: 0px;
            li{
                list-style: none;
                margin-bottom: 3px;
                a{
                    text-decoration: none;
                    color: white;
                    transition: .1s;
                    &:hover{
                        color: #7e7b73;
                    }
                }
            }
        }
    }
    .right-footer{
        display: table;
        margin: 0 auto;
        P{
            text-transform: uppercase;
            color: #f1b905;
            font-weight: 700;
        }
        a{
            text-decoration: none;
            color: white;
            transition: .1s;
            &:hover{
                color: #7e7b73;
            }
        }
        i{
            font-size: 20px;
            margin-right: 15px;
        }
    }

    #copyright{
        position: absolute;
        bottom: -15px;
        color: #7e7b73; 
        left: 50%;
        transform: translate(-50%, -50%);
    }
}