$default:#9c7a00;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: white;
    .gornji-nav{
        //text-align: center;
        font-family: 'Mulish', sans-serif;
        margin: 0px 5rem;
        border-bottom: 2px solid rgb(200, 200, 200);
        a{
            font-size: 2.8rem;
            text-decoration: none;
            color: black;
            font-weight: 700;
        }
        .right-gornji{
            text-align: right;
            ul{
                li{
                    display: inline-block; 
                    padding-top: 15px;
                    a{
                        font-size: 1.7rem;
                        margin: 0px 5px;
                        transition: .2s;
                        &:hover{
                            color: gray;
                        }
                    }
                }
            }
            #menuopen{
                display: none;
            }
            #menuclose{
                display: none;
            }
        }
    }
    .donji-nav{
        margin: 0px 5rem;
        font-family: 'Mulish', sans-serif;
        font-weight: 500;
        //background-color: blue;
        ul{
            margin-bottom: -1px;
            li{
                //margin-top: 10px;
                display: inline-block;
                padding: 10px 0px;
                a{
                    color: black;
                    text-transform: uppercase;
                    text-decoration: none;
                    padding: 10px 15px;
                    transition: .2s;
                    &:hover{
                        background: rgb(200, 200, 200);
                    }
                }
                i{
                    font-size:1.2rem;
                }
            }
        }
    }
}

// .strucnjak{
//     padding: 2rem;
//     margin: 6rem 8rem;
//     border-radius: 5px;
//     ul{
//         margin-bottom: 3rem;
//     }
//     span{
//         font-size: 1.5rem;
//         margin-left: 5px;
//         i{
//             color: $default;
//         }
//     }
//     cursor: pointer;
//     img{
//         width: 15rem;
//         height:15rem;
//         object-fit: cover;
//         border-radius: 100%;
//         float: right;
//     }
//     h1{
//         font-weight: 900;
//         font-size: 1.8rem;
//         color: black;
//         i{
//             color: $default;
//         }
//     }
//     h2{
//         font-weight: 400;
//         font-size: 1.3rem;
//         color: #3d3d3d;
//         I{
//             font-size: 20px;
//         }
//     }
//     -webkit-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.43);
//     -moz-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.43);
//     box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.43);
// }

.strucnjak{
    padding: 5rem 2rem;
    margin: 3rem 8rem;
    border-radius: 5px;
    -webkit-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.43);
    -moz-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.43);
    box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.43);

    .levostr{
        display: flex;
        a{
            text-decoration: none;
            font-size: 2rem;
            margin-right: .7rem;
            transition: .3s;
            color: $default;
            &:hover{
                color: #7e7b73;
            }
        }
        img{
            width: 8rem;
            height:8rem;
            object-fit: cover;
            border-radius: 100%;
            float: right;
            border: 3px solid $default;
        }
        .tekst{
            margin-left: 2rem;
            margin-top: 5px;
            h1{
                font-weight: 900;
                font-size: 1.8rem;
                color: black;
            }
            h2{
                font-weight: 400;
                font-size: 1.3rem;
                color: #3d3d3d;
                margin-top: -5px;
            }
            h3{
                font-size: 1.3rem;
                color: #3d3d3d;
                margin-top: 1rem;
                span{
                    font-weight: bold;
                }
            }
            p{
                margin-top: 2rem;
                font-size: 1.2rem;
                margin-bottom: 3rem;
            }
        }
    }
}

footer{
    background-color: black;
    color: white;
    padding: 8rem;
    font-family: 'Mulish', sans-serif;
    position: relative;
    .left-footer{
        display: table;
        margin: 0 auto;
        #naslovfooter{
            font-size: 2.8rem;
            text-decoration: none;
            color: white;
            font-weight: 700;
        }
        a{
            text-decoration: none;
            font-size: 1.7rem;
            margin: 0px 5px;
            transition: .3s;
            color: $default;
            &:hover{
                color: #7e7b73;
            }
        }
    }
    .middle-footer{
        display: table;
        margin: 0 auto;
        text-transform: uppercase;
        P{
            color: $default;
            font-weight: 700;
        }
        ul{
            padding-left: 0px;
            li{
                list-style: none;
                margin-bottom: 3px;
                a{
                    text-decoration: none;
                    color: white;
                    transition: .1s;
                    &:hover{
                        color: #7e7b73;
                    }
                }
            }
        }
    }
    .right-footer{
        display: table;
        margin: 0 auto;
        P{
            text-transform: uppercase;
            color: $default;
            font-weight: 700;
        }
        a{
            text-decoration: none;
            color: white;
            transition: .1s;

            &:hover{
                color: #7e7b73;
            }
        }
        i{
            font-size: 20px;
            margin-right: 15px;
        }
    }

    #copyright{
        position: absolute;
        bottom: -15px;
        color: #7e7b73; 
        left: 50%;
        transform: translate(-50%, -50%);
    }
}